* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0.06em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
#title_container {/* Div contenedor de título H1 e imagen */
    display:block;
    height: 50vw;
    max-height: 400px;
    width: 100%;
    background-image: url("../images/design1_image1-bn.jpg");
    
    background-size:cover;
    background-position: 30%;
    position: relative;
    
}

#title_container>h1{/* Título H1 */
    width: 100%;
    font-size:5em;
    color: #fc0f;
    -webkit-text-stroke:0.01vw #b00f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position:absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#subtitle_container{/* Contenedor del subtítulo H2 */
    background-color: black;
    width: 100%;
    height: 4em;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#subtitle_container>h2{/* Subtítulo H2 */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    -webkit-text-stroke:0.01vw #000f;
    font-size: 2.5em;
    color: #ffff;
    position:absolute;
    top: 5%;
    text-align: center;
}


#subtitle_container>figure {/* Contenedor del logo */
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    min-height: 50px;
    top: -1em;
    position: absolute;
    background-color: #ffff;
    top: 50%;
    transform: translateY(-50%);
    border-width: 0.01vw;
    right:5vw;
    border-radius: 50%;
    overflow: hidden;
    
}

#subtitle_container>figure>img{/* Logo */
    height:16.5vw;
    width: 16.5vw;
    min-width: 82.5px;
    min-height: 82.5px;
    position: absolute;
    top: -2%;
    right: 50%;
    transform: translateX(49%);
}

nav {/* Barra de navegación */
    display: inline-block;
    width: 28vw;
/*     max-width: 350px;
    min-width: 12.1em; */
    vertical-align: top;
}

nav>a {/* Anchor de la barra de navegación */
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke:0.02em #000f;
    text-decoration: none;
    font-size: 2.2em;
    margin: 1em;
    ;
}

nav>a.other_page{/* Anchor de otras secciones */
    color: #bbbf;
}

nav>a.actual_page {/* Anchor de la sección actual (destacado) */
    color: #000f;
    
}

main {/* Contenedor de la parte principal */
    display: inline-block;
    margin: 2em 0 0 0;
}



/* SECCIÓN RULES OF PLAY & POLICIES */
#rules_main{ /* Sección Rules of Play & Policies */
    position: absolute;
}

#rules_main>h2{/* Título */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

#rules_main>p { /* Párrafo que sigue al título */
    font-size: 1.5em;
    margin: 1em 0 2.5em 0;
    text-align: center;
}


#rules_main>ul>li {/* Ítem de lista Rules */
    list-style-type: none;
    margin: 0 0 3em 0;
}

#rules_main>ul>li>h3 {/* Título de Ítem de la lista Rules */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin: 0 0 1em 0;
}

#rules_main>ul>li>p {/* Párrafo de Ítem de la lista Rules */
    font-size: 1.5em;
    text-indent: 1.5em;  
}

#rules_main>ul>li>ul{/* Lista de subítems con círculos*/
    font-size: 1.5em;
    margin: 0 0 0 2em;
}

#rules_main>ul>li>ol>li{/* Lista de subítems con números - BOLD*/
    font-size: 1.5em;
    list-style-position: inside;
    font-weight: bold;
    margin: 1em 0 1em 0;
}

#rules_main>ul>li>ol>li>span{/* Lista de subítems con números - SPAN*/
    font-weight:normal;
}

#rules_main>ul>li>ol>li>ol{/* Lista de sub-subítems con letras*/
    list-style-type:lower-latin;
    list-style-position: inside;
    font-weight:normal;
}


/* SECCIÓN GAME INFORMATION */
#game_info_main{ /* Sección Game Information */
    position: absolute;
}

#game_info_main>h2{/* Título de Game Information*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

#game_info_main .italics{ /* Subtítulo de Game Information */
    font-style:italic;
    font-size: 1.4em;
    margin: 1em 0 0.3em 0;
}

#game_info_main .underlined_italics{ /* Aclaración de subtítulo de Game Information */
    font-style:italic;
    text-decoration-line: underline;
    font-size: 1.1em;
    margin: 0 0 2em 0;
}

table { /* Tabla de Game Information */
    font-size: 1.3em;
    text-align: left;
}


tbody td:first-child {/* Para dar ancho de primera columna */
    width: 10em;
    max-width: 150px;
}

table td:nth-child(2) {/* Para dar ancho de segunda columna */
    width: 20em;
    max-width: 200px;
}

table td:nth-child(3) {/* Para dar ancho de tercera columna */
    width: 20em;
    max-width: 200px;
}

table td:nth-child(4) {/* Para dar ancho de tercera columna */
    width: 20em;
    max-width: 400px;
}

table td:last-child {/* Para dar ancho de última columna */
    width: 20em;
    max-width: 150px;
}


.indented_2{/* Para centrar el mes */
    text-align: center;
}
  
.game_aditional_information>:nth-child(1){/* Formato párrafos con información adicional */
    margin: 3em 0 0 0;
    text-indent: initial;
    font-size: 1.3em;
}

.game_aditional_information>:nth-child(2){/* Formato párrafos con información adicional */
    margin: 1em 0 0 0;
    text-indent: initial;
    font-size: 1.3em;
}

.game_aditional_information>:nth-child(3){/* Formato párrafos con información adicional */
    margin: 3em 0 1em 0;
    text-indent: initial;
    font-size: 1.3em;
} 

.flex {/* Formato párrafos con información adicional */
    display: flex;
    text-indent: initial;
    font-size: 1.3em;
    justify-content: space-between;
    margin: 0 0 3em 0;
}


/* REGISTRATION FORM */
#registration_main{
    display: inline-block;
    width: 70vw;
    font-size: 1.3em;

}

#registration_main>h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.registration_container{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.registration_form{
    position:absolute;
    padding: 2em;
}

.bg_image{
    opacity: 0.1;
    width: 100%;
}

.radio_block {
    margin: 0 0 0 4em;
}

.radio_inline>input{
    margin: 0 0 0 2em;
}

.button{
    padding: 0.5em 1em;
}

input,select{
    padding: 0.1em 0.3em;
    font-size: 1em;
}

/* select{
    padding: 0.1em 0.3em;
    font-size: 1em;
} */

article{/* Contenedor de artículo */
    margin: 1em 1em 2em 0;
    text-align:start;
}

article>h3{/* Título de artículo */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

article>p,main>div>p{/* Texto de artículo */
    font-size: 1.5em;
    word-wrap: break-word;
    max-width: 57vw;
    text-indent: 1.5em;
    margin: 0 0 0.9em 0;
}

#footer{
    margin: 5em;
}